<%- include ('partials/header'); %>

    <h1>Home</h1>

    <p>
        <%= homeStartingContent %>
    </p>
    <% for (let i=0; i < homeContent.length; i++) { %>
        <h2><%= homeContent[i].title %></h2>
        <h6><em><%= homeContent[i].date %></em></h6>
        <p><%= homeContent[i].content %></p>
    <% } %>

<%- include ('partials/footer'); %>